						<!-- Header -->
                        <header id="header">
                            <a href="{{ .Site.BaseURL }}" class="logo"><strong>Man Minh Nguyen</strong> Web Developer</a>
                            <ul class="icons">
                                <li><a href="https://twitter.com/ManNguyenIO" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="https://www.facebook.com/minhmantocden" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="https://www.linkedin.com/in/man-nguyen-51232371" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                <li><a href="https://github.com/ManNguyen" class="icon fa-github"><span class="label">GitHub</span></a></li>
                            </ul>
                        </header>